body {
    text-align: center;
    #field {
        background-color: rgb(98, 254, 139);
        border: 30px solid #dfa;
    }
    .data-player {
        display: inline-block;
        font-size: 20px;
        text-transform: capitalize;

    }
    span {
        font-size: 20px;
        font-weight: 600;

    }

}
